
/* Titolo "CorsaIdeale" */
.navbar h1 {
  font-size: 1.8em;

}
.logo {
  width: 3.5em;
  height: auto;
}


.cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
  
   /* Responsività */
   .navbar {
    justify-content: space-between;
    padding: 10px;
}

.navbar-items {
    display: none; /* Nasconde gli item della navbar su schermi piccoli */
}

  
  .listcards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .new-cards {
    flex-direction: column;
}

.new-card {
    width: 100%;
}


  .whoarewe-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .navbar-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: var(--navbar-bg-color);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1000;
    border-radius: 5px;
  }
  
  .navbar-items.active {
    display: flex;
  }
  
  .navbar-items li {
    width: 100%;
  }
  
  .navbar-items li a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
  }
  
  .icon {
    display: block;
  }
  
  /* PAGINA CHI SIAMO */
  .whoarewe-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .img-whoarewe {
    height: 100px;
    width: 100px;
  }
  /* FINE PAGINA CHI SIAMO */
  
  /* INIZIO SINGLE PAGE */
  .review {
    display: flex;
    gap: 0.5em;
  }

  .add-review-section {
    flex-direction: column-reverse;
  }

  #add-review-modal {
    width: 90%;
    height: 100%;
    padding: 0;
    margin-top: 20em;
  }

  .modal-content{
    width: 100%;
  }
  /* FINE SINGLE PAGE */
  

/* Immagine del ruolo */
.animal-roles {
    grid-template-columns: 1fr; /* 1 card per riga */
}


/* TUTTA SEZIONE ADMIN */

.wrapper-admin{
  margin-top: 0px;
  width: 100%;
}

.wrapper-card-admin{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper-admin-aggiungi{
  padding-left: 0%;
  padding-right: 0%;
}

h2.title-admin{
  font-size: x-large;
  text-align: center;
}

h3.title-admin{
  font-size: x-large;
}

.immagine-scarpa-modifica{
  max-width: 80%; 
  height: auto;
}


.table-admin-list th:nth-child(1),
.table-admin-list td:nth-child(1) {
  width: 40%;  /* Imposta una larghezza fissa per la colonna dell'immagine */
  text-align: center;
}

.hide-mobile {
  display: none;
}


/* FOOTER */

footer .valid-code {
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}