.cards {
  grid-template-columns: 1fr;
}

.cards > :nth-child(1),
.cards > :nth-child(2),
.cards > :nth-child(3) {
  grid-column: span 1;
}

.listcards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.navbar-items {
  display: none;
}


/* PAGINA CHI SIAMO */
.whoarewe-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.img-whoarewe {
  height: 100px;
  width: 100px;
}


/* FINE PAGINA CHI SIAMO */