* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10px;
  font-family: "Arial";
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80%;
}

.navbar {
  border-radius: 8px;
  background-color: blue;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.logo-navbar {
  width: 70px;
  height: auto;
  align-self: center;
}

.navbar-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-items li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
}

.navbar-items li:nth-last-child(2) {
  margin-left: auto;
}

.searchbar {
  background-image: url("../assets/searchbar-background.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}
