* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: var(--text-color);
}
body {
  background-color: var(--main-bg-color);
  font-family: "Arial";
  display: flex;
  justify-content: center;
}

:root {
  --main-bg-color: #a8dadc; /* Sfondo generale - Blu Chiaro Pastello */
  --wrapper-bg-color: #f5f5f5; /* Sfondo del wrapper - Grigio Chiarissimo */
  --navbar-bg-color: #264653; /* Navbar e footer - Blu Scuro */
  --card-bg-color: #ffffff; /* Sfondo delle cards - Bianco Puro */
  --btn-color: #2a9d8f; /* Pulsanti CTA - Verde Acqua Chiaro */
  --label-feedback-color: #e76f51; /* Etichette di feedback e tasto like - Rosso Corallo */
  --text-color: #333333; /* Testo principale - Grigio Scuro */
  --card-border-color: #264653; /* Bordo delle cards - Blu Scuro */
}

.wrapper {
  margin-top: 10px;
  background-color: var(--wrapper-bg-color);
  width: 80%;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: var(--navbar-bg-color);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 5px 20px;
}

.icon {
  display: none;
}
.logo-navbar {
  width: 70px;
  height: auto;
  align-self: center;
}

.navbar-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-items li a {
  text-wrap: nowrap;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

.navbar-items li:nth-last-child(0) {
  margin-left: auto;
}

.searchbar {
  background-image: url("../assets/searchbar-background.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
