.wrapper {
  margin-top: 0px;

  width: 100%;
  height: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cards > :nth-child(1) {
  grid-column: span 2;
}

.cards > :nth-child(2) {
  grid-column: span 1;
}

.listcards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.whoarewe-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.img-whoarewe {
  height: 140px;
  width: 140px;
}

.azienda-descrizione{
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}