.wrapper {
    margin-top: 0px;
    border-radius:0px;
    width: 100%;
    height: 100%;
  }
  .animal-role img {
    width: 7em;
    height: auto;
    margin: 1em;
    }
  
  /* Responsività */
  .navbar {
      justify-content: space-between;
      padding: 10px;
  }

  .icon {
      display: block; /* Mostra l'icona solo su schermi piccoli */
  }

  .navbar-links {
      display: none; /* Nasconde gli item della navbar su schermi piccoli */
  }


  /* PAGINA CHI SIAMO */
  .whoarewe-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .img-whoarewe {
    height: 140px;
    width: 140px;
  }
  
  /* FINE PAGINA CHI SIAMO */
  
  /* INIZIO SINGLE PAGE */
  .shoe-main{
    flex-direction: column;
    margin: 0;
    width: 100%;
}
  .reviews-section{
    width: 100%;
  }
  .rating-section{
    margin-top: 0em;
}

  .description-details {
    margin: 0 ; /* Centra orizzontalmente */
  }
  .add-review-section{
    padding: 0em;
  }
  .add-review-wrapper {
    margin: 0em;
  }
  /* FINE SINGLE PAGE */
  

/* Immagine del ruolo */
.animal-roles {
    grid-template-columns: repeat(2, 1fr); /* 2 card per riga */
}

/* single page */
#add-review-modal.modal,
#edit-review-modal.modal,
#delete-review-modal.modal {
    top: 80%;
    left: 50%;
}


.modal-content {
    width: 25em;
}
.modal-content-delete {
    width: 25em;
    height: 11em;
}

/* TUTTA SEZIONE ADMIN */

.wrapper-admin{
  margin-top: 0px;
  width: 100%;
  border-radius: 0px;
}

.wrapper-card-admin{
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper-admin-aggiungi{
  padding-left: 10%;
  padding-right: 10%;
}

h2.title-admin{
  text-align: center;
}

.immagine-scarpa-modifica{
  max-width: 30%; 
  height: auto;
}

.link-con-icona .icona {
  width: 44px; 
  height: 44px;
  object-fit: cover;
}

.table-admin-list th:nth-child(1),
.table-admin-list td:nth-child(1) {
  width: 25%;  /* Imposta una larghezza fissa per la colonna dell'immagine */
  text-align: center;
}

.hide-tablet {
  display: none;
}

/* FINE SEZIONE ADMIN */

.backToTop{
    position: fixed;
    bottom: 2em;
    right: 0.8em;
    background-color: var(--accent-color);
    color: var(--card-bg-color);
    border: none;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 1000;
  }