.wrapper {
    margin-top: 0px;
  
    width: 100%;
    height: 100%;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .cards > :nth-child(1) {
    grid-column: span 2;
  }
  
  .cards > :nth-child(2) {
    grid-column: span 1;
  }
  
  .listcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .new-cards {
    flex-direction: column;
}

.new-card {
    width: 100%;
}
  
  /* PAGINA CHI SIAMO */
  .whoarewe-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .img-whoarewe {
    height: 140px;
    width: 140px;
  }
  
  /* FINE PAGINA CHI SIAMO */
  
  /* INIZIO SINGLE PAGE */
  .shoe-main{
    flex-direction: column;
  }
  .reviews-section{
    width: 100%;
  }

  .add-review-section{
    padding: 0em;
  }
  .add-review-wrapper {
    margin: 0em;
  }
  /* FINE SINGLE PAGE */
  

/* Immagine del ruolo */
.animal-roles {
    grid-template-columns: repeat(2, 1fr); /* 2 card per riga */
}